.select2-selection__rendered {
    line-height: 45px !important;
}
.select2-container .select2-selection--single {
    height: 45px !important;
    font-size: 1.06rem;
    padding: 0 8px;
}
.select2-selection__arrow {
    height: 45px !important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #e5e9f2 !important;
    width: 100%;
}
.switch-box{
    font-size: 17px;
    margin-right: 10px;
    color: #000;
}
.top-information,.bottom-information{
    margin: 0;
}
.app-brand{
    background-color: #fff !important;
    border-right: 1px solid #e5e9f2;
}
.app-brand a{
    padding-left: 0.56rem !important;
}
.app-brand a img{
    width: 60px !important;
}
.app-brand .brand-name{
    color: #000 !important;
}

.ml-30{
    margin-left: 30px;
}
.navbar .navbar-right .navbar-nav .notifications-menu .dropdown-toggle::after{
    content:none;
}
.notification-badge{
    background: red;
    padding: 1px 4px;
    font-size: 10px;
    color: #fff;
    border-radius: 12px;
    position: relative;
    left: -19px;
    top: -18px;
}
.not_read_status td{
    color:  #000;
    font-weight: bold;
}
